@page
@model ClassDemoTestLogin.Pages.LoginModel
@{
}

<h1>Login page</h1>

<form method="post">
    Name: <input type="text" asp-for="@Model.Username" /><br/>
    Pass: <input type="password" asp-for="@Model.Password" /><br />
    <input type="submit" value="Login" class="btn btn-primary" /><br />
</form>