@page
@model ClassDemoTestLogin.Pages.common.IndexModel
@{
}
<h1>Dette er Fælles siden</h1>
<p>
    her kan du alle de alm ting - bare ikke administrator ting og sager...
</p>
<a asp-page="../Index">Tilbage</a>